:root {
  --back: #f8f8f8;
  --text: #29292e;
  --accent-back: #835afd;
  --input-back: #fefefe;
  --bright-back: #fff;
  --bright-border: #e2e2e2;
  --bright-text: #fff;
  --border: #a8a8b3;
  --muted-text: #737380;
  --dark-text: #29292e;
  --red: #ea4335;
  --shadow: rgba(0, 0, 0, 0.04);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--back);
  color: var(--text);
}

body,
input,
button,
textarea {
  font: 400 16px 'Noto Sans', sans-serif;
}

.lang-selector {
  background-color: var(--accent-back);
  border-radius: 8px;
  border: 0;
  bottom: 1em;
  color: var(--bright-text);
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
  position: fixed;
  right: 1em;
  text-transform: uppercase;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
