.question {
  background-color: var(--input-back);
  border-radius: 8px;
  box-shadow: 0 2px 12px var(--shadow);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: var(--highlighted);
    border: 1px solid var(--accent-back);

    footer .user-info span {
      color: var(--dark-text);
      font-weight: bold;
    }
  }

  &.answered {
    background-color: var(--answered);
  }

  p {
    color: var(--dark-text);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    > div {
      display: flex;
      gap: 16px;
    }

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      > span {
        margin-left: 8px;
        color: var(--muted-text);
        font-size: 14px;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &:hover {
        filter: brightness(0.8);
      }

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--muted-text);
        gap: 8px;

        &.liked {
          color: var(--red);

          svg path {
            stroke: var(--red);
          }
        }
      }
    }
  }
}
